{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles%} 
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aclonica"/>
    
{% endblock %}


{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-light bg-dark">
     <span class="navbar-brand mb-0 h1">LIONS DEN</span>
</nav>
<div class="container" style="font-family: Aclonica">

    {% if current_user.is_authenticated%}
        <h1>Hello {{current_user.username}}</h1>
        <h3>Welcome to Lions den</h3>
    {% else %}
         <h3>Hello stranger</h3>
        <h3>Welcome to Lions den</h3>
        <a href="{{url_for('auth.login')}}">login here</a><br>
        <a href="{{url_for('auth.register')}}">dont have an account? signup</a> 
    {%endif%}
    <div>
        <a href="{{url_for('main.index')}}" class="btn-success btn">add pitch</a>
    </div>
    <div>
        
          <p> {{ wtf.quick_form(PitchForm) }}</p>
    </div>
    
</div>
 
 

{% endblock%}